<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <title>미니프로젝트_개인페이지</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .mb-3 {
            margin: auto;
            margin-top: 50px;
            margin-left: 30px;
        }

        .btn-outline-primary {
            margin-left: 470px;
            margin-top: -20px;
        }

        .p02 {
            line-height:30px;
        }

    </style>
</head>

<body>
<div class="card mb-3" style="">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="static/khu.jpeg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">김한울/INTP</h5>
                <p class="card-text">* 장점: 감정기복이 별로 없고 잔잔한 성격</p>
                <p class="card-text">* 협업 스타일: 팀원 분들의 의견을 수용하면서도 필요한 의견은 제시하는 스타일</p>
                <p class="p02">* 좋아하는 것: 한강에서 책 읽다가 낮잠 잘 때 행복합니다. 산도 좋지만 바다가 더 좋고, 조그마한 엘피바에서 칵테일 마시는 재미로 살아요.
                    특히 진토닉, 예거밤, 깔루아 밀크를 좋아합니다. 주로 외힙을 듣고, 힙합&알앤비&재즈 선호해요. 하루에 한 끼라도 맛있는 걸 먹어야 사는 재미를 느낍니다.</p>
                <p class="card-text">* 목표: 2인분 하는 개발자 되기</p>
                <p class="card-text">* 블로그 주소: https://velog.io/@aouoa</p>
            </div>
                <div>
        <button type="button" onclick="location.href='https://velog.io/@aouoa'" class="btn btn-outline-primary">블로그 가기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>